body {
    margin: 0;
    padding: 0;
    font-family: 'open sans';
}

header {
    padding: 10px;
    background-attachment: fixed;
    position: relative;
    text-align: left;
    justify-content: left;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: larger;
    text-align: right;
    padding: 30px 50px 0 0;
    background-color: transparent !important; /* Fondo transparente */
}

nav > a {
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    position: relative;
}

.btn-primary {
    background-color: #63CAA7; /* Color de fondo del botón */
    border-color: #63CAA7; /* Color del borde del botón */
}