

body {
    font-family: 'open sans';
}

header {
    padding: 10px;
    background-attachment: fixed;
    position: relative;
    text-align: left;
    justify-content: left;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: larger;
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    position: relative;
}

