form{
    width: 500px;
    padding: 20px;
    background-color: #a8cfd9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 50px;  
}